<div flex layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-2dp">
    <div class="md-toolbar-tools" layout="row" flex-offset-gt-sm="20" flex-gt-sm="60">
      <h2 class="md-title">Hack Your Dutch</h2>
    </div>
  </md-toolbar>

  <md-content flex>
    <div layout-padding flex-offset-gt-sm="20" flex-gt-sm="60">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="entry in $ctrl.fileEntries"
                      ng-click="$ctrl.openDocument(entry.fileName)">
          <div class="md-list-item-text" layout="column">
            <h3>{{entry.title}}</h3>
            <p>{{entry.subtitle}}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</div>